<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <!-- display selected item in a card -->
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src={{dish.image}} alt={{dish.name}} />
      <md-card-content>
        <p md-line>
          {{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>

  <div fxFlex="40">
    <md-card *ngIf="dish">
      <md-card-header>
        <md-card-title>
          <h3><strong>Comments</strong></h3>
        </md-card-title>
      </md-card-header>
      <md-card-content>
        <md-list fxFlex="100">
          <md-list-item *ngFor="let comment of comments">
            <div mdLine>
                <span>{{comment.comment}}</span><br />
                <span>{{comment.rating}} stars</span><br />
                <span>-- {{comment.author}} {{comment.date | date}}</span><br />

                <!-- <md-divider></md-divider> -->
            </div>

          </md-list-item>
        </md-list>
      </md-card-content>
    </md-card>
  </div>

</div>
